<% layout('layouts/boilerplate') %> 

<ul>
    <li>Date: <%= egg.date %></li>
    <li>Location: <%= egg.location %></li>
    <li>Quantity: <%= egg.quantity %></li>
    <li>Contact<%= egg.contact %></li>
    <li><a href="/eggs/<%= egg.id %>/edit">Edit</a></li>
  </ul>
  <form action="/eggs/<%= egg._id %>?_method=DELETE" method="POST">
    <button >Delete</button></form>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta obcaecati perspiciatis adipisci aliquid magnam doloribus quasi enim reprehenderit nihil officiis nobis, necessitatibus molestiae libero ullam amet molestias eaque. Accusantium minima, illum dolore aliquam quia unde assumenda magnam necessitatibus, blanditiis voluptas impedit soluta odit? Harum deserunt nihil illo asperiores obcaecati libero vero commodi deleniti. Officia aut ducimus aspernatur esse at deleniti deserunt assumenda dicta numquam quaerat enim, facere, quia reprehenderit quis, dolorum iusto. Deleniti exercitationem tempora repellendus ipsam. Fugit possimus dicta necessitatibus beatae suscipit facere velit ad ratione nihil provident, laudantium odit rem assumenda nulla vitae ex quisquam saepe cumque sapiente illo. Rem laboriosam voluptatum dolorem, nihil sit numquam fugit omnis repellendus vitae expedita earum! Magnam necessitatibus ad atque commodi inventore tempora ex natus dicta libero beatae sapiente ducimus repellat aliquam sit exercitationem autem obcaecati nihil reprehenderit minus recusandae illum nostrum, tenetur voluptatibus modi? Deleniti, nesciunt. Dolorum, praesentium? Dolorem natus provident, sapiente pariatur repellat incidunt quam id ipsum nihil aut autem ad quis nemo odit adipisci expedita dolor consequatur facere at? Praesentium soluta accusamus ratione iste quisquam aliquam ipsum tenetur provident eos quae, nemo sint repudiandae incidunt minus! Provident omnis dolorem eligendi veniam possimus, culpa enim perferendis adipisci officiis nesciunt dolor!